@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root {
    --main-bg-color: #2a2d31;
  }

*{
    padding: 0;
    margin: 0;
}
header{
    background: var(--main-bg-color); 
    font-family: 'Lato', sans-serif;
}

nav{
    display: flex;
    height: 20vh;
}

.logo{
    display: flex;
    align-items: center;
    /* height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -12vh; */
}

.logo img{
    /* width: 88px;
    padding: 0 25px; */  height: 70%;
  width: 88px;
  border-radius: 50%;
  margin: 0px 30px;
  /* border: 3px solid blue; */
  /* box-shadow: 1px 1px 10px 2px rgb(129, 14, 14); */

}

nav ul{
    padding: 22px;
    height: 58px;
    display: flex;
    /* justify-content: flex-start; */      
    align-items: center;
}

nav ul li{
 
    display: inline-block;
    padding: 12px; 
    margin: 10px 28px 28px 10px;
    font-weight: 900;
      font-size: 1.3rem;
}

nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav ul li a:hover{ 
    color: yellow;
    border-bottom : 3px solid red;
    font-weight: bolder;
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding:0 12px;
}

.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.slider{ 
    height: 65vh;
    background-image: url("images/home_img1.jpg");
    opacity: 0.8;
    /* background-attachment: fixed; */
    background-size: cover;
    /* background-position: center; */
     width: 80vw;
    margin: 12px auto;
    overflow: hidden; 
}

.card{
    max-width: 91vw;
    margin: 37px auto;
    font-family: 'Ubuntu', sans-serif;
}

.cards{
    display:flex ; 
    overflow: scroll;
}

.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}

.card h2{
    font-family: 'Lato', sans-serif;
}

.container{
    min-height: calc(100vh - 58px - 12vh);
}

footer{
    height: 12vh;
    background-color: var(--main-bg-color); 
    color: white;
    font-family: 'Lato', sans-serif;
}



.feed-carousel .feed-carousel-viewport {
    width: 100%;
    min-height: 220px;
    _height: 220px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    margin: 0;
}
